SynchApp/XMLConfiguration/XMLConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Options">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="excludeHidden" type="xs:boolean" />
							<xs:element name="excludeIdentical" type="xs:boolean" />
							<xs:element name="analyseOnly" type="xs:boolean" />
							<xs:element name="deleteDirectories" type="xs:boolean" />
							<xs:element name="deleteFiles" type="xs:boolean" />
							<xs:element name="topLevelDirectories" type="xs:boolean" />
							<xs:element name="useRegex" type="xs:boolean" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Backups">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Backup">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="source" type="xs:string" />
										<xs:element name="destination" type="xs:string" />
										<xs:element name="directoryExcludes">
											<xs:complexType mixed="true">
												<xs:sequence minOccurs="0">
													<xs:element maxOccurs="unbounded" name="directoryExclude" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="directoryIncludes">
											<xs:complexType mixed="true">
												<xs:sequence minOccurs="0">
													<xs:element maxOccurs="unbounded" name="directoryInclude" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>